@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="padding-left:40px; padding-right:40px;">
    <h1 class="display-4">Welcome</h1>
    <p class="mt-4">This is the demo of CRUD operations in .Net Core. Please click on "<span class="text-decoration-underline">View Users</span>" link in top menu. It is not recomended to store and use password this way. I mean password should be stored in some encrypted format and it should not be returned in response from API, if it is not needed. It is just to show how we can perform Create, Read, Update and Delete operations in .Net Core MVC with the help of .Net Core WebApi and database PostgreSQL.</p>
</div>
